@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&display=swap')

*
    font-family: "Outfit", system-ui
    margin: 0
    padding: 0
    text-decoration: none
    list-style-type: none
    box-sizing: border-box
    scroll-behavior: smooth

html,
body
    height: 100%

body
    background: linear-gradient(to left, var(--color-main), var(--color-main-dark))

a,
i, h1,h2, h3, h4, h5, h6
    color: inherit
    font-weight: inherit
    text-decoration: inherit

@import "./partials/cards"

.form-control
    outline: none

    &:focus
        outline: none
        box-shadow: none

.overlay
    position: absolute
    width: 100%
    height: 100%

:root
    --color-main: #3346d1
    --color-main-40: rgba(51, 70, 209, .4)
    --color-main-2: #331C71
    --color-main-dark: #350034
    --color-main-dark-2: #350136
    --color-white: #fff
    --color-white-75: rgba(255, 255, 255, .75)
    --color-black: #262626

// Swiper start
.swiper
    width: 100%
    height: 100%

    .swiper-button-prev,
    .swiper-button-next
        width: 50px
        height: 50px
        top: 15%
        border: 1px solid var(--color-white)
        right: 12%
        border-radius: 50%
        transition: all .4s ease

        &::after
            font-size: 1.3rem
            font-weight: 600
            color: var(--color-white)

.swiper-slide
    display: flex
    justify-content: center
    align-items: center

.swiper-slide img
    display: block
    width: 100%
    height: 100%

// Swiper end

// Buttons
.btn-search
    color: var(--color-white)

.btn-main
    color: var(--color-white)
    background: var(--color-main)
    font-size: 1.12rem
    font-weight: 500
    padding: .8rem 1rem
    transition: all .3s
    text-transform: capitalize
    &:hover
        background-color: var(--color-main-2)
        box-shadow: 0 0 10px var(--color-main-dark)
    &.dark
        background-color: var(--color-main-dark)

        &:hover
            background-color: var(--color-white)
            color: var(--color-main-dark)

// Buttons

// Titles
.inner-text
    font-size: 1.2rem
    font-weight: 500
    line-height: 1.5rem
    color: var(--color-white-75)

.banner-title
    font-size: 5.37rem
    color: var(--color-white)
    font-weight: 700
    text-align: center
    text-transform: capitalize

.section-title-box
    border-bottom: 1px solid var(--color-white-75)
    padding: 1rem 0

    .subtitle
        position: relative
        color: var(--color-white)
        font-size: .95rem
        font-weight: 500
        text-transform: uppercase
        padding-left: 1rem

        &::before
            position: absolute
            content: ""
            width: 8px
            height: 8px
            background-color: var(--color-white)
            border-radius: 50%
            left: 0
            top: .2rem

    .section-title
        font-size: 2.75rem
        color: var(--color-white)
        font-weight: 600
        line-height: 1.2
        text-transform: capitalize

// Titles end

// Header start
header
    position: absolute
    width: 100%
    z-index: 2

    .header
        width: 100%
        display: flex
        align-items: center
        justify-content: space-between
        color: var(--color-white)

        .logo
            max-width: 150px

            img
                width: 100%

        .custom-navbar
            display: flex
            align-items: center
            gap: 1rem

            li
                a
                    display: block
                    padding: 1rem .5rem
                    font-weight: 500

// Header end

// Banner start
.banner-bg
    position: relative
    width: 100%
    height: 100vh
    background: linear-gradient(to left, var(--color-main), var(--color-main-dark))
    background-size: 100% 100%

    .overlay
        background-image: url(../images/h3_1.png)
        background-size: cover
        background-position: center center

    .inner-text
        text-align: center

    .search-form
        display: flex
        align-items: center
        gap: 1.5rem

        .form-group:first-child
            flex: 1

        .form-control
            box-shadow: none

            &.custom-form
                padding: 1rem 1.5rem
                border-radius: 1.5rem
                border: .25rem solid var(--color-main-2)

// Banner end

// Services start
.servicesSwiper
    color: var(--color-white)
    padding-top: 3rem
    position: static

    .swiper-button-next,
    .swiper-button-prev

        &.swiper-button-prev
            left: 89%

        &:hover
            background-color: var(--color-main-dark)

// Services end

// Home project start
.home-projects
    position: relative
    padding: 2.5rem 0 6rem 0
    .homeProjectsSwiper
        position: static
        padding-top: 2rem
        .swiper-wrapper
            margin: 0 -18.75rem
        .swiper-button-next,
        .swiper-button-prev
            top: 100%
            &.swiper-button-next
                right: 49%
            &.swiper-button-prev
                left: 43%

// Home project end

// Home preferences start
.home-preferences
    padding: 5rem 0
    .section-title-box
        border-bottom: 0
    .preferences-img
        height: 38.12rem
        img
            display: block
            max-width: 100%
            height: 100%
            margin-left: auto

.preferences-section-2
    .section-img
        width: 100%
        height: 640px
        img
            width: 100%
            height: 100%

    .successful-projects
        display: flex
        align-items: center
        justify-content: space-between
        margin-top: 2.5rem
        .project-item
            position: relative
            padding: 0 3.5rem
            &:first-child
                padding-left: 0
                &::after
                    content: ""
                    position: absolute
                    width: 1px
                    height: 100%
                    background: var(--color-white-75)
                    right: 0
                    top: 0
            .count
                font-size: 3rem
                font-weight: 550
                color: var(--color-white)

.preferences-list
    li
        display: flex
        color: var(--color-white)
        margin-bottom: .5rem
        .icon
            display: flex
            align-items: center
            justify-content: center
            width: 5.3rem
            height: 3.5rem
            background: var(--color-main)
            border-radius: 50%
            margin-right: 1rem
            svg
                width: 2rem
                height: 2rem
        .title
            font-size: 1.5rem
            font-weight: 600
            text-transform: capitalize
    // Home preferences end

// Partnes start
.partnersSwiper
    padding: .8rem 0
.partner-item
    width: 100%
    height: 70px
    display: flex
    align-items: center
    justify-content: center
    border: 1px solid var(--color-main)
    border-radius: .9rem
    cursor: pointer
    transition: all .3s
    &:hover
        background: var(--color-main-dark)
        border-color: transparent
    a
        max-width: 100%
        height: auto
        img
            max-width: 100%
            height: 100%
// Partners end
