// Service card start
.service-card
    width: 100%
    padding: 1rem 1.5rem
    background-color: var(--color-main-40)
    cursor: pointer
    border-radius: .5rem
    transform: translateY(40px)
    transition: all .5s
    overflow: hidden

    .service-head
        display: flex
        align-items: center
        justify-content: space-between
        gap: 1rem

        .count
            font-size: 1.15rem
            font-weight: 500
            color: var(--color-white)
            opacity: .7
            padding: .2rem 1.3rem
            border-radius: 1rem
            background-color: var(--color-main-2)

    .service-body

        .service-title
            font-size: 1.7rem
            text-transform: capitalize
            font-weight: 600

        .inner-text
            font-size: 1.12rem

        a
            display: block
            font-size: 1.2rem
            text-transform: capitalize
            padding-bottom: .5rem
            visibility: hidden
            opacity: 0

    &:hover
        background-color: var(--color-main)
        box-shadow: 0 0 10px var(--color-main-2)
        transform: translateY(0)

        .service-body
            a
                visibility: visible
                opacity: 1

// Service card end

// Project card start
.project-card
    background: var(--color-main-40)
    padding: 1.5rem
    border-radius: .5rem
    transition: all .3s
    cursor: pointer
    color: var(--color-white)
    .project-img
        width: 100%
        height: 18.75rem
        border-radius: .5rem
        overflow: hidden
        a
            display: block
            width: 100%
            height: 100%
        img
            width: 100%
            height: 100%
            object-fit: fill
            transition: all .3s

    .card-body
        padding-top: 1.5rem
        .project-title
            display: flex
            align-items: center
            justify-content: space-between
            font-size: 2rem
            font-weight: 600
        .project-prices
            .price
                font-size: 1.1rem
                font-weight: 600
                color: var(--color-white-75)
                line-height: 1.26rem
                &.old-price
                    text-decoration: line-through
                    opacity: .5
                    padding-left: 1rem
    &:hover
        background: var(--color-main)
        .project-img
            img
                transform: scale(1.1)

// Project card end

// Team card start
.team-card
    .team-img
        position: relative
        z-index: 1
        width: 100%
        height: 100%
        border-radius: 155px
        img
            width: 100%
            height: 100%
            border-radius: 155px
            transition: all .5s
        &::before
            position: absolute
            content: ""
            width: 100%
            height: 100%
            top: 0
            left: 0
            border-radius: 155px
            background-color: var(--color-main)
            opacity: 0
            transition: all .5s
            z-index: -1
    .team-body
        color: var(--color-white)
        text-align: center
        padding: .85rem 0
        .title
            font-size: 2rem
            font-weight: 600
        .inner-text
            padding: 0
    &:hover
        .team-img
            &::before
                top: 5px
                left: 5px
                opacity: 1
// Team card end
